[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule ".oh-my-zsh-custom/plugins/zsh-autosuggestions"]
	path = .oh-my-zsh-custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git

[submodule ".gitrc/git-diff-image"]
	path = .gitrc/git-diff-image
	url = https://github.com/ewanmellor/git-diff-image.git
[submodule ".local/share/omf"]
	path = .local/share/omf
	url = https://github.com/oh-my-fish/oh-my-fish.git
